main {
    background: #FCF5DA;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    width: auto;
}

h1 {
    font-size: 4em;
}

hr{
    border: 1px solid black;
    width: 90%;    
    opacity: 50%;
    margin-top: -1%;
}

#cartLogo {
    width: 486px;
    height: auto;
}

#cartItems {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 5%;
}

#cartItem {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-color: #DEFF78;
    border-radius: 50px 50px 50px 50px;
    overflow: hidden;
    padding: 2%;
}

#itemName img{
    border-radius: 10%;
    width:15%;
    height:15%;
    box-shadow: #000 0px 0px 10px;
}

#itemInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: auto;
    gap: 20%;
    font-size: 25px;
}

#itemName{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 2%;
}

#itemCaloriesAndPrice{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
}


#editingCartItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* gap: 30%; */
}

#lefBottom{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 85%;
    text-align: left;
    padding: 2%;
    padding-left: 5%;
}

#ingredientList {
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding-left: 5%;
}

#addingFunction{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-self: left;
    gap: 10%;
    font-size: 25px;
}

#removeButton, #addButton {
    width: 20%;
    height: auto;
    font-size: 25px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#editAndDeleteFunction{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#editIcon, #trashIcon {
    width: 15%;
    height: auto;
    cursor: pointer;
    margin-top: 20%;
}