main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
     gap: 5vh; 
     align-items: center; 
    text-align: center;
    background-color: #FCF5DA;
}

#logo{
    width: 45%;
    height: auto; 
}

#orderOverlook{
    font-size: 20px;

}

#orderDetails{
    background-color: #DEFF78;
    font-size: 40px;
    height: 35%;
    width: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#automaticReturn{
    opacity: 50%;
    font-size: 20px;
}

