main {
    background-image: url(../img/startpaginaBackgroundimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
}

.bigLogo {
    width: 500px;
    height: auto;
    animation: logoPulse 5s infinite;
    margin-top: 30%;
}

@keyframes logoPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.diningOptions, .languageOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    height: 500px;
    width: 100%;
}


#DiningIn, #DiningOut, #EnglishOption, #DutchOption {

    height: 90%;
    width: 25%;
    background-color: #ff7520;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'renosRoughregular', sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 50px;
    font-display: auto;
    padding: 2.5%;
}
