@font-face {
    font-family: 'renos_roughregular';
    src: url('renos-rough-webfont.woff') format('woff'),
        url('renos-rough-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Italic-VariableFont_wdth,wght.ttf') format('ttf'),
        url('NotoSans-VariableFont_wdth,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FCF5DA;
}
