@font-face {
    font-family: 'renos_roughregular';
    src: url('renos-rough-webfont.woff') format('woff'),
        url('renos-rough-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Italic-VariableFont_wdth,wght.ttf') format('ttf'),
        url('NotoSans-VariableFont_wdth,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FCF5DA;
}

/* Bovenkant van scherm */
.topbar-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.top-left{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-right{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.top-left.top-right:after{
    display: table;
    clear: both;
}

#menu-logo{
    width: 350px;
    height: auto;
}

#menu-topbox{
    width: 100%;
    height: 200px;
    background-color: #8CD003;
    border-radius: 0px 0px 0px 30px;
}

h2{
    font-size: 60px;
    font-family: NotoSans, sans-serif;
}

/* Midden van scherm */
.content-container{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.categories-box{
    width: 295px;
    height: 1400px;
    background-color: #F4E9C0;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#option-button{
    width: 210px;
    height: 130px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid black;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    
}

#option-button:hover{
    cursor: pointer;
    background-color: #8CD003;
    transform: scale(1.2);
}

#category-icon{
    width: 80px;
    height: auto;
}

h1{
    font-size: 23px;
    font-family: NotoSans, sans-serif;
    margin: 0.5px;
}

.menu-items{
    width: 70%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    overflow-y: scroll;
}

.menu-item{
    width: 300px;
    height: 375px;
    background-color: white;
    border-radius: 10%;
    text-align: center;
}

/* Onderkant van scherm */
.bottombar-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pink-bar{
    width: 1000px;
    height: 45px;
    border-radius: 40px;
    background-color: #FFB181;
    margin-top: 100px;
}

#cart-button{
    width: 150px;
    height: 100px;
    background-color: #8CD003;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

#cart-image{
    width: 40px;
    height: auto;
}

#product-image{
    width: 225px;
    height: auto;
    padding-top: 30px;
    border-radius: 10%;
}

h3{
    margin: 0;
}
