@font-face {
    font-family: 'renos_roughregular';
    src: url('renos-rough-webfont.woff') format('woff'),
        url('renos-rough-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Italic-VariableFont_wdth,wght.ttf') format('ttf'),
        url('NotoSans-VariableFont_wdth,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.renosRoughregular {
    font-family: 'renos_roughregular', sans-serif;
    /* use font */
}

.NotoSans {
    font-family: 'Noto Sans', sans-serif;
}

main {
    background-image: url(../img/startpaginaBackgroundimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
}

.bigLogo {
    width: 500px;
    height: 500px;
    animation: logoPulse 5s infinite;
    margin-top: 30%;
}

@keyframes logoPulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.diningOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    height: 500px;
    width: 100%;
}

#DiningIn, #DiningOut {

    height: 80%;
    width: 25%;
    background-color: #ff7520;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'renosRoughregular', sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
    
}

